# Root Ignore
node_modules/
.env
.env.*
!.env.example
.DS_Store
*.log

# Frontend Ignore
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.*

# Backend Ignore
backend/node_modules/
backend/dist/
backend/build/
backend/.env
backend/.env.*
dist/
